body {
  margin: 0;
}

.masthead {
  background-size: cover;
  min-height: 100vh;
  position: relative;
  color: black;
}

.banner {
  background-color: gray;
  padding: 100px;
}

.banner h1 {
  color: white;
  text-align: center;
}

.banner p {
  color: white;
  text-align: center;
  padding-bottom: 2em;
}

.data-entry {
  width: 80%;
  margin: auto;
}

.btn,
.btn-light,
.btn-light:hover,
.btn-light:focus {
  color: #333;
  text-shadow: none;
}

.nav-link {
  font-size: 12px;
  font-family: Verdana, Geneva, sans-serif;
}

.parent {
  margin: 1%;
  position: relative;
  top: 0;
  left: 0;
}

.image1 {
  position: relative;
  top: 0;
  left: 0;
}

.image2 {
  position: absolute;
  left: 0px;
  top: 0px;
}

.image3 {
  position: absolute;
  left: 0px;
  top: 0px;
}

.navImg {
  margin: 1%;
  position: relative;
  top: 0;
  left: 0;
}
